[Desktop Entry]
Version=1.1
Type=Application
Name=Aseprite
Comment=Animated sprite editor and pixel art tool
Icon=~/.local/bin/aseprite/aseprite/data/icons/ase256.png
Exec=~/.local/bin/aseprite/asepritebin
Actions=
Categories=2DGraphics;Graphics;
StartupWMClass=Aseprite
