##==============================================================================
## LOGO
##==============================================================================

logo="
        \e[1;30m▄▄▄\e[107m█▀▀▀▀▀█\e[0;30m▄▄▄
     \e[1;30m▄\e[107m█▀▀ ▄▄▄▄▄▄▄▄▄ ▀▀█\e[0;30m▄
   \e[1;30m▄\e[107m█▀ ▄█▀▀       ▀▀█▄ ▀█\e[0;30m▄
  \e[1;30m\e[107m█▀ ▄█▀          ·\ ▀█▄ ▀█\e[0;30m
 \e[1;30m\e[107m█▀ █▀     (( o ))  @ .▀█ ▀█\e[0;30m
\e[1;30m▄\e[107m█ █▀   \e[104m \e[107m     |    . \  ▀█ █\e[0;30m▄
\e[1;30m\e[107m█  █    \e[104m    \e[107m /X\         █  █\e[0;30m
\e[1;30m\e[107m█  █__\e[104m___   />\e[107mX<\  ><><  █  █\e[0;30m
\e[1;30m\e[107m█▄ █\e[104m|||||  /><X><\  \/   \e[107m█ ▄█\e[0;30m
 \e[1;30m\e[107m█ ▀█\e[40m                   \e[107m█▀ █\e[0;30m
 \e[1;30m▀\e[107m█ ▀█\e[40m▄    \e[97mEA7·RCT\e[30m    ▄\e[107m█▀ █\e[0;30m▀
  \e[1;30m▀\e[107m█▄ ▀█\e[40m▄  \e[0;97;40mIM76-SR\e[1;30m  ▄\e[107m█▀ ▄█\e[0;30m▀
    \e[1;30m▀\e[107m█▄ ▀▀\e[40m█▄▄▄▄▄▄▄\e[107m█▀▀ ▄█\e[0;30m▀ 
      \e[1;30m▀▀\e[107m█▄▄▄     ▄▄▄█\e[0;30m▀▀
           \e[1;30m▀▀▀▀▀▀▀\e[0;30m"
                     

##==============================================================================
## COLORS
##==============================================================================

format_info="           -c white"
format_highlight="      -c light-blue   -e bold"
format_crit="           -c blue         -e bold"
format_deco="           -c white        -e bold"
format_ok="             -c light-blue   -e bold"
format_error="          -c blue         -e bold -e blink"
format_logo="           -c light-blue   -e bold"
