##==============================================================================
## LOGO
##==============================================================================

logo="\e[49;34m
      ▗▖ \e[94m▗▖\e[34m ▗▖        
    ▗▟█\e[104;34m▛\e[44;94m▟█▛\e[104;34m▟\e[49;34m██▙▖      
  ▗▟█\e[104;34m▛▘ \e[44;94m▛\e[104;34m▟\e[49;34m██████▙▖    
▗▟█\e[104;34m▛▘ \e[44;94m▛\e[104;34m▟\e[49;34m██████████▙▖  
 ▝▜█\e[104;34m▙▖ \e[44;94m▙▖\e[49;34m████████▛▘   
   ▝▜█\e[104;34m▙▖ \e[44;94m▙▖\e[49;34m████▛▘     
     ▝▜▛▘\e[49;94m▜▛\e[49;34m▝▜▛▘      

        \e[49;94mscbi
Universidad de Malaga\n"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c blue		-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c blue  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c blu		-e bold"



##==============================================================================
## STATUS INFO
##==============================================================================

print_info="
	OS
	KERNEL
	CPU
	SHELL
	DATE
	UPTIME
	SERVICES
	CPUTEMP
	SYSLOAD_MON%
	MEMORY_MON
	SWAP_MON
	HDDROOT_MON
	HDDHOME_MON"



##==============================================================================
## STATUS BARS
##==============================================================================
bar_memory_units="GB"
bar_swap_units="GB"
bar_hdd_units="GB"
bar_home_units="TB"

