##==============================================================================
## LOGO
##==============================================================================

## MAPIR (UMA) Robotics Research Group
logo="       
 __  __   _   ___ ___ ___
|  \\/  | /_\\ | _ \\_ _| _ \\
| |\\/| |/ _ \\|  _/| ||   /
|_|  |_/_/ \\_\\_| |___|_|_\\

  MACHINE PERCEPTION AND
   INTELLIGENT ROBOTICS
       mapir.uma.es
"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c green	-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c green  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c green	-e bold"
