configuration {
    modi: "window,run,ssh";
    font: "Hack Nerd Font 9";
    show-icons: true;
    drun-display-format: " {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
    kb-row-up: "Up,Alt+k,Shift+Tab,Shift+ISO_Left_Tab";
    kb-row-down: "Down,Alt+j";
}

@theme "/home/michell/.config/rofi/themes/rounded-everforest.rasi"
@import "/home/michell/.config/rofi/themes/rounded-yellow-dark.rasi"
