##==============================================================================
## LOGO
##==============================================================================

## Manjaro Logo, simple ASCII drawing by andresgongora

local logo="██████████████  ██████
██████████████  ██████
██████████████  ██████
██████          ██████
██████  ██████  ██████
██████  ██████  ██████
██████  ██████  ██████
██████  ██████  ██████
██████  ██████  ██████
██████  ██████  ██████
██████  ██████  ██████"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c dark-gray	-e bold"
format_highlight="	-c white"
format_crit="		-c light-green	-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c white  	-e bold"
format_error="		-c light-green	-e bold 	-e blink"
format_logo="		-c light-green	-e bold"



