##==============================================================================
## LOGO
##==============================================================================

## ArchLinux theme from archey3. Slightly modified. Sources:
## - https://wiki.archlinux.org/index.php/ASCII_art
## - https://bbs.archlinux.org/viewtopic.php?id=24208&p=6

logo="\e[0;94m                .
\e[0;94m                #
\e[0;94m               ###
\e[0;94m              #####
\e[0;94m             '######
\e[0;94m            .. #####:
\e[0;94m            ###.#####
\e[0;94m           ###########
\e[0;94m          ######\e[0;34m#####\e[0;94m##;
\e[0;94m         ###\e[0;34m############\e[0;94m
\e[0;94m        #\e[0;34m######   #######
\e[0;34m       :#####:     :###.\`\".
\e[0;34m      :######:     :####:.
\e[0;34m     :########.   .########
\e[0;34m    :#####'           '#####:
\e[0;34m   :####                 ####:
\e[0;34m   ##'                     '##
\e[0;34m  #'                         '#
\e[0;34m '                             '  "



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c blue	-e bold"
format_crit="		-c 208		-e bold"
format_deco="		-c white	-e bold"
format_ok="         -c blue  	-e bold"
format_error="		-c 208		-e bold 	-e blink"
format_logo="		-c blue	-e bold"
