##==============================================================================
## LOGO
##==============================================================================

logo="\e[1;36m             /////////////
         /////////////////////
      ///////\e[1;37m*767 \e[1;36m////////////////
    //////\e[1;37m7676767676*\e[1;36m//////////////
   /////\e[1;37m76767\e[1;36m//\e[1;37m7676767\e[1;36m//////////////
  /////\e[1;37m767676\e[1;36m///\e[1;37m*76767\e[1;36m///////////////
 ///////\e[1;37m767676\e[1;36m///\e[1;37m76767\e[1;36m.///\e[1;37m7676*\e[1;36m///////
/////////\e[1;37m767676\e[1;36m//\e[1;37m76767\e[1;36m///\e[1;37m767676\e[1;36m////////
//////////\e[1;37m76767676767\e[1;36m////\e[1;37m76767\e[1;36m/////////
///////////\e[1;37m76767676\e[1;36m//////\e[1;37m7676\e[1;36m//////////
////////////,\e[1;37m7676\e[1;36m,///////\e[1;37m767\e[1;36m///////////
/////////////*\e[1;37m7676\e[1;36m///////\e[1;37m76\e[1;36m////////////
///////////////\e[1;37m7676\e[1;36m////////////////////
 ///////////////\e[1;37m7676\e[1;36m///\e[1;37m767\e[1;36m////////////
  //////////////////////\e[1;37m'\e[1;36m////////////
   //////\e[1;37m.7676767676767676767,\e[1;36m//////
    /////\e[1;37m767676767676767676767\e[1;36m/////
      ///////////////////////////
         /////////////////////
             /////////////"


##==============================================================================
## COLORS
##==============================================================================


format_info="           -c light-gray          "
format_highlight="      -c blue         -e bold"
format_crit="           -c 45           -e bold"
format_deco="           -c light-gray          "
format_ok="             -c blue         -e bold"
format_error="          -c 45           -e bold -e blink"
format_logo="           -c blue         -e bold"
