##==============================================================================
## LOGO
##==============================================================================

## Raspberry logo, colors added for synth-shell, orignal by b3n @ aspberrypi.com
logo="
\e[0;32m   .~~.   .~~.
\e[0;32m  '. \ ' ' / .'
\e[1;31m   .~ .~~~..~.
\e[1;31m  : .~.'~'.~. :
\e[1;31m ~ (   ) (   ) ~
\e[1;31m( : '~'.~.'~' : )
\e[1;31m ~ .~ (   ) ~. ~
\e[1;31m  (  : '~' :  )
\e[1;31m   '~ .~~~. ~'
\e[1;31m       '~'
"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c red        -e bold"
format_crit="		-c green      -e bold"
format_deco="		-c white      -e bold"
format_ok="		    -c red  	  -e bold"
format_error="		-c green      -e bold     -e blink"
format_logo="		-c red        -e bold"
