##==============================================================================
## LOGO
##==============================================================================

## Ubuntu Logo, simple ASCII drawing by andresgongora

local logo="\e[0;91m               /////////////////
\e[0;91m          /////////////////////////
\e[0;91m       ////////////////////\e[1;97m@@@@\e[0;91m///////
\e[0;91m     /////////////////////\e[1;97m@@@@@@\e[0;91m////////
\e[0;91m   ////////////////\e[1;97m@@@@@@\e[0;91m//\e[1;97m@@@@\e[0;91m///////////
\e[0;91m  ////////////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@@@@@@\e[0;91m//\e[1;97m@\e[0;91m////////////
\e[0;91m ///////////\e[1;97m@@@@@@\e[0;91m/////////\e[1;97m@@@@@@\e[0;91m///////////
\e[0;91m///////////\e[1;97m@@@@@\e[0;91m/////////////\e[1;97m@@@@@\e[0;91m///////////
\e[0;91m//////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@\e[0;91m///////////////\e[1;97m@@@@@\e[0;91m//////////
\e[0;91m/////\e[1;97m@@@@@@\e[0;91m/\e[1;97m@@@\e[0;91m//////////////////////////////
\e[0;91m//////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@\e[0;91m///////////////\e[1;97m@@@@@\e[0;91m//////////
\e[0;91m///////////\e[1;97m@@@@@\e[0;91m/////////////\e[1;97m@@@@@\e[0;91m///////////
\e[0;91m ///////////\e[1;97m@@@@@@\e[0;91m/////////\e[1;97m@@@@@@\e[0;91m///////////
\e[0;91m  ////////////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@@@@@@\e[0;91m//\e[1;97m@\e[0;91m////////////
\e[0;91m   ////////////////\e[1;97m@@@@@@\e[0;91m//\e[1;97m@@@@\e[0;91m///////////
\e[0;91m     /////////////////////\e[1;97m@@@@@@\e[0;91m////////
\e[0;91m       ////////////////////\e[1;97m@@@@\e[0;91m///////
\e[0;91m          /////////////////////////
\e[0;91m              /////////////////   "



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c light-red    -e bold"
format_crit="		-c red          -e bold"
format_deco="		-c white        -e bold"
format_ok="		    -c light-red  	-e bold"
format_error="		-c red		    -e bold     -e blink"
format_logo="		-c light-red    -e bold"
