##==============================================================================
## LOGO
##==============================================================================

logo="\e[1;31m          / \\
         // \\\\\\\\
        //   \\\\\\\\
       //     \\\\\\\\
      //  \e[5;39m███\e[25;31m  \\\\\\\\
     //   \e[5;39m███\e[25;31m   \\\\\\\\
    //    \e[5;39m███\e[25;31m    \\\\\\\\
   //             \\\\\\\\
  //      \e[5;39m███\e[25;31m      \\\\\\\\
 //                 \\\\\\\\
//===================\\\\\\\\

        WARNING!
     ROOT ACCOUNT!"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c red		-e bold"
format_crit="		-c red		-e bold"
format_deco="		-c white	-e bold"
format_ok="		-c red  	-e bold"
format_error="		-c red		-e bold 	-e blink"
format_logo="		-c 208		-e bold"



