##==============================================================================
## LOGO
##==============================================================================

## Debian logo, adapted for synth-shell. Original by metallo on the debian dev list?

logo="       _,met\$\$\$\$\$gg.
    ,g\$\$\$\$\$\$\$\$\$\$\$\$\$\$\$P.
  ,g\$\$P\"\"       \"\"\"Y\$\$.\".
 ,\$\$P'              \`\$\$\$.
',\$\$P       ,ggs.     \`\$\$b:
\`d\$\$'     ,\$P\"'   .    \$\$\$
 \$\$P      d\$'     ,    \$\$P
 \$\$:      \$\$.   -    ,d\$\$'
 \$\$;      Y\$b._   _,d\$P'
 Y\$\$.    \`.\`\"Y\$\$\$\$P\"'
 \`\$\$b      \"-.__
 \`Y\$\$b
  \`Y\$\$.
    \`\$\$b.
      \`Y\$\$b.
        \`\"Y\$b._
            \`\"\"\"\"\n"



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c white"
format_highlight="	-c red        -e bold"
format_crit="		-c light-blue -e bold"
format_deco="		-c white      -e bold"
format_ok="		    -c red  	  -e bold"
format_error="		-c light-blue -e bold     -e blink"
format_logo="		-c red        -e bold"
