[Desktop Entry]
Version=1.1
Type=Application
Name=LibreSprite
Comment=Pixelart Editor
Icon=libresprite
Exec=/home/michell/.local/bin/libre-sprite.AppImage
Actions=
Categories=2DGraphics;Graphics;
StartupWMClass=allegro
